<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a post</title>
    <style>
        input[type=submit]{ 
            width: 50%;
            height: 10px;
            color: blue;
            padding: 45px;
            padding-left: 20px;
            margin-top: 20px;
            margin-left: 50px;
            font-size: larger;
           
        }

        #post1{
            align-items: center;
            display: flex;
            padding-left: 40px;
        }
    </style>
</head>
<body>
    <header>
        <h2 style="text-align: center; color: aliceblue; background-color: blue;">AIRBNB.COM</h2>
    </header>
    <h2 style="text-align: center;">Request a post</h2>
    <div id="post1">
    <form id="">
        <label>Your name</label>
        <input type="text">
        <label>Price</label>
        <input type="text">
        <label>Location</label>
        <input type="text">
        <label>Room type</label>
        <input type="text">
        <input type="submit" value="Publish">
    </form>
</div>
</body>
</html>